<table class="table">
  <tr>
    <th>Project Name</th>
    <th>Iteration</th>
    <th>Members</th>
    <th>Ready</th>
    <th>Working</th>
    <th>Completed</th>
    <th>Project Closed</th>
  </tr>
</table>
